.my {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;


}

@media only screen and (max-width:992px) {
      .my {
            grid-template-columns: repeat(1, 1fr);
            background-color: rgb(250, 212, 212);
      }

}

@media only screen and (min-width : 577px) and (max-width:992px) {
      .my {
            grid-template-columns: repeat(2, 1fr);
            background-color: rgb(98, 92, 105);
      }

}